<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47051063-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47051063-2');
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            macros: {
                "\\v": "\\mathbf{#1}",
                "\\vcOne": "#1_x\\v{x}",
                "\\vcTwo": "\\vcOne{#1} + #1_y\\v{y}",
                "\\vcThree": "\\vcTwo{#1} + #1_z\\v{z}",
                "\\vcFour": "\\vcThree{#1} + #1_t\\v{t}",
                "\\c": "\\overline{#1}\\thinspace"
                //"\\delthree": "\\mathbf{x}\\frac{\\partial}{\\partial x} + \\mathbf{y}\\frac{\\partial}{\\partial y} + \\mathbf{z}\\frac{\\partial}{\\partial z}"
            }
        });
    });
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">

<style>
#header h1 {
  font-size: 2rem;
  font-weight: bold;
}
figure.inline {
  float: right;
  margin: 0 40px 1rem;
}
#body figure.inline img {
  margin: 0 auto 1rem;
}
figure.inline p {
  text-align: center;
  margin: 0;
}
figure.inline h4 {
  margin-bottom: 0;
}

/* Example details style */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    margin: -.5em -.5em 0;
    padding: 0 2em;
    cursor: pointer;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
summary:before {
  border-radius: 5px;
  content: "▶"; 
  color: #00bdf3; 
  font-weight: bold; 
  position: absolute;
  margin: 0 -1.5em;
}
details[open] summary:before {
  content: "▼";
}

/* notice style */
div.notice {
  margin: 2rem 0;
  padding: 0 0 0.5rem 0;
  position: relative;
}
div.notice h5 {
  padding: 0.5rem 0 0.5rem 7rem;
  color: #fff;
  font-weight: bold;
}
div.notice p {
  padding: 0 1rem;
}
div.notice h5:before {
  position: absolute;
  top: 0.5rem;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  left: 10px;
}

div.notice.activity {
  background: #fff2db;
}
div.notice.activity h5 {
  background: #f0b37e;
}
div.notice.activity h5:before {
  content: "\f303  Activity: ";
}
div.notice.tip {
  background: #E6F9E6;
}
div.notice.tip h5 {
  background: rgba(92, 184, 92, 0.8);
}
div.notice.tip h5:before {
  content: "\f075  Info: ";
}
</style>

