<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47051063-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47051063-2');
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
<style>
#header h1 {
  font-size: 2rem;
  font-weight: bold;
}
figure.inline {
  float: right;
  margin: 0 40px 1rem;
}
#body figure.inline img {
  margin: 0 auto 1rem;
}
figure.inline p {
  text-align: center;
  margin: 0;
}
figure.inline h4 {
  margin-bottom: 0;
}
</style>

